extends layout

block content
  link(rel="stylesheet", href="/stylesheets/background.css")
  .container.container2
    br
    .ui.form#greybox
      h2#columntitle Mot de passe oublié
      form(method="POST" action="/forgot")
        .field
          label Nom d"utilisateur:
          input(type="text", placeholder="Nom d'utilisateur" name="username" required autofocus="autofocus" tabindex="1")
        button.ui.primary.submit.button.fluid.large(type="submit" tabindex="2") Continuer
