doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/semantic/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    a#titre(href="/")= 'Matcha'
    br
    br
    if (user)
      .ui.menu
        a.item#index(href='/') Index
          a.item#u(href='/u') Utilisateurs
        .right.menu
          if (user)
            a.item#profil(href='/profil') Profil
            a.item#logout(href='/logout') Déconnection
          else
            a.item#login(href='login') Connection
            a.item#register(href='/register') Nouveau ?
    if (locals && locals.error)
      .ui.error.message
        .header Erreur
        i.close.icon
        p= locals.error
    if (locals && locals.success)
      .ui.success.message
        .header Success
        i.close.icon
        p= locals.success
    script(src='/javascripts/active.js')
  body
    block content
