extends layout

block content
  .container
    .ui.equal.width.form
      h2.ui.dividing.header Créer un compte pour accéder au site
      form(method='POST' action='/register')
        .field
          label Nom d'utilisateur:
          input(type='text', placeholder="Nom d'utilisateur" name='username' autofocus="autofocus" required tabindex="1")
        .fields
          .field
            label Mot de passe:
            input(type='password' placeholder='Mot de passe' name='password' required tabindex="2")
          .field
            label Confirmation du mot de passe:
            input(type='password' placeholder='Mot de passe' name='confirmPassword' required tabindex="3")
        i Le mot de passe doit contenir des majuscules, des chiffres et des minuscules et faire plus de 6 charactères.
        br
        br
        .field
          label Email:
          input(type='email', placeholder='nom@email.com' name='email' required tabindex="4")
        .fields
          .field
            label Nom:
            input(type='text', placeholder='Nom' name='lastname' required tabindex="5")
          .field
            label Prénom:
            input(type='text', placeholder='Prénom' name='firstname' required tabindex="6")
        button.ui.primary.submit.button.fluid.large(type='submit' required tabindex="7") Valider
    .ui.dividing.header
    div(style="text-align:center")
      a(href="/login")
        button.ui.yellow.button.massive.centered.aligned(tabindex="8") Déjà membre ? Connectez vous.
