extends layout

block content
  .container
    .ui.link.cards
      .card
        .image
          img(src="http://semantic-ui.com/images/avatar2/large/kristy.png")
        .content
          a.header(href="/u/kristy") Kristy Jane
          i.woman.icon.right.floated
          .meta
            span Joined in 2013
          .description
            span L’application doit permettre à un utilisateur de s’inscrire, en demandant au minimum une adresse email, un nom d’utilisateur, un nom, un prénom et un mot de passe un tant soit peu sécurisé.
        .extra.content
            a
              i.user.icon
              span 22 Friends
              i.heterosexual.icon.right.floated
