body {
  padding: 40px;
}

#titre {
  padding: 10px;
  margin-left: 50px;
  font: 60px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FD3F62;
  font-style: normal;
  text-decoration: none;
}

#frame {
  padding: 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
}

#grey {
  background-color: #eee;
}
