body {
  padding: 40px;
}

#titre {
  padding: 10px;
  margin-left: 80px;
  font: 60px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #de7aa0;
  font-style: normal;
  text-decoration: none;
}

#frame {
  padding: 0;
  border-radius: 5px;
  border: 1px solid rgba(100, 100, 100, 0.15);
  background-color: rgba(82, 82, 82, 0.15);
  transition: 0.5s;
}

#grey {
  border: 1px solid rgba(100, 100, 100, 0.15);
  background-color: rgba(82, 82, 82, 0.15);
  transition: 0.5s;
}

#map {
  height: 400px;
}

#gold {
  background-color: rgb(145, 186, 76);
  color: #fff;
}

.container {
    transition: 0.5s;
}

.notifBar {
    transition: 0.5s;
        overflow: auto;
}

.chatBar {
    transition: 0.5s;
    overflow: auto;
}
